*{
    box-sizing: border-box;
}
body{
    background-color: rgb(66, 37, 15);
}

.beige {
    background-color: beige;
    height: 10vh

}
.negro{
    background-color: black;
    height: 10vh
}
.centrar{
    display: flex;
    justify-content: center;
}
.animate__animated.animate__bounce {
    --animate-duration: 5s;
  }
  
  /* This changes all the animations globally */
  :root {
    --animate-duration: 800ms;
    --animate-delay: 0.8s;
  }
  .textoabajo{
    padding: 3px;
    margin: 30px;
    background-color: burlywood;
    display: flex;
    justify-content: center;
  }
  .ruge-boogie-regular {
    font-family: "Ruge Boogie", cursive;
    font-weight: 400;
    font-style: normal;}
  